<section id="tasks">
    <header>
        <h2>{{ user().name }}'s Tasks</h2>
        <menu>
            <button (click)="onAddTask()">Add Task</button>
        </menu>
    </header>

    @if (isAddingTask()) {
        <app-new-task-form (addedTask)="addTask($event)" (cancelAddingTask)="onCancelAdd()" />
    }

    <ul>
        @if (hasTasks()) {
            @let taskList = tasks();
            @for (task of taskList; track task.id) {
                <li>
                    <app-task [task]="task" (complete)="onTaskComplete($event)" />
                </li>
            }
        } @else {
            <p>No tasks found.</p>
        }
    </ul>
</section>